﻿@{
    ViewBag.Title = "Эксперемент";
}

<div>
    <h2>Описание задачи: </h2>
    <div>

        Представьте, что вы стали участником игры, в которой вам нужно выбрать одну из трёх дверей. За одной из дверей находится автомобиль, за двумя другими дверями — козы.
        Вы выбираете одну из дверей, например, номер 1, после этого ведущий, который знает, где находится автомобиль, а где — козы, открывает одну из оставшихся дверей, например, номер 3, за которой находится коза.
        После этого он спрашивает вас — не желаете ли вы изменить свой выбор и выбрать дверь номер 2? Увеличатся ли ваши шансы выиграть автомобиль, если вы примете предложение ведущего и измените свой выбор?
    </div>
</div>
<div>
    <h2>Результаты эксперемента: </h2>
    @foreach (var pair in ViewBag.Stat)
    {
        <div>@pair.Key: вероятность составила @pair.Value</div>
    }
</div>
<div>
    <form method="get" style="margin:5px">
        <input placeholder="Количество дверей" name="doorsNumber" min="3" type="number" value="@Request.Params["doorsNumber"]">
        <input placeholder="Количество игр" name="times" type="number" min="1" value="@Request.Params["times"]">
        <input type="submit" value="Повторить">
    </form>
    <div style="font-size:10px">
        *При количестве дверей больше трёх, после выбора игоком одной из дверей, ведущий открывает все оставшиеся двери кроме одной и спрашивает не хочет ли игрок поменять выбранную дверь на оставшуюся
    </div>
</div>